<a href="https://colab.research.google.com/github/bragonzu/CURSOSQL/blob/main/Introduction%20to%20Data%20Science%20in%20Python%20/%20SEMANA_2%20/Sem2_1_dataframeindexingandloading.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DATAFRAME INDEXING AND LOADING**

In [ ]:
!cat head /content/sample_data/california_housing_train.csv

IMPORTAMOS LA LIBRERIA

In [ ]:
import pandas as pd

LEEMOS LA LIBRERIA.

In [ ]:
df= pd.read_csv('/content/sample_data/california_housing_train.csv',index_col=0)

ABRIMOS LOS PRIMEROS REGISTROS

In [ ]:
df.head()

           latitude  housing_median_age  ...  median_income  median_house_value
longitude                                ...
-114.31       34.19                15.0  ...         1.4936             66900.0
-114.47       34.40                19.0  ...         1.8200             80100.0
-114.56       33.69                17.0  ...         1.6509             85700.0
-114.57       33.64                14.0  ...         3.1917             73400.0
-114.57       33.57                20.0  ...         1.9250             65500.0

[5 rows x 8 columns]

CREAMOS UN NUEVO DATAFRAME Y RENOMBRAMOS LA COLUMNA latitude-> LATITUDE (muestra)
Y GUARDAMOS EN UN NUEVO DF

In [ ]:
new_df= df.rename(columns={'latitude':'LATITUDE'})

           LATITUDE  housing_median_age  ...  median_income  median_house_value
longitude                                ...
-114.31       34.19                15.0  ...         1.4936             66900.0
-114.47       34.40                19.0  ...         1.8200             80100.0
-114.56       33.69                17.0  ...         1.6509             85700.0
-114.57       33.64                14.0  ...         3.1917             73400.0
-114.57       33.57                20.0  ...         1.9250             65500.0

[5 rows x 8 columns]

In [ ]:
Y MOSTRAMOS LOS PRIMEROS REGISTROS

In [16]:
new_df.head()

           LATITUDE  housing_median_age  ...  median_income  median_house_value
longitude                                ...
-114.31       34.19                15.0  ...         1.4936             66900.0
-114.47       34.40                19.0  ...         1.8200             80100.0
-114.56       33.69                17.0  ...         1.6509             85700.0
-114.57       33.64                14.0  ...         3.1917             73400.0
-114.57       33.57                20.0  ...         1.9250             65500.0

[5 rows x 8 columns]